.dark-mode{
    background-color: darken($grisOscuro, 10%);
    p {
        color: $blanco;
    }
    a,h2,h1,h3,h4 {
        color: $gris;
    }

    .contenedor-anuncio {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        .precio {
            color: $verde;
        }
    }
//     .formulario {
//         color: $blanco;
//         input {
//             background-color: red;
//         }
//         textarea {
//             background-color: $gris;
//         }
//         select {
//             background-color: $gris;
//         }
//     }
//     input.boton-verde{
//         &:hover {
//             background-color: darken($naranja, 10%);
//         }
//     }
//     .iconos-caracteristicas {
//         filter: brightness(0) invert(1); // inverte el color de las imágenes 
//     }
// }

.formulario {
    label, legend, p {
        color: $gris;
    }
    input:not([type="submit"]), 
    textarea,
    select { 
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        color: $blanco;
    }
  }
  .iconos-caracteristicas {
    filter: brightness(0) invert(1); // inverte el color de las imágenes o iconos
  }
}