

.anuncios {
    // background-color: #8b8686;
    padding: 40px;
    // width: 8rem;
    // height: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    //codigo de gpt 4
    background: linear-gradient(45deg, #d5d6d3, #666);
    color: #ffffff;
    padding: 20px 0;
    p {
      margin-left: 10px;
      color: white;
    }
  }
  
  .planos {
    background-image: url('../../../build/img/clockwork-4651185_1920.jpg');
    background-position: bottom;
    
  }
  .fondo {
    background: url('../../../build/img/fondoplanos.jpg');
    
  }

  .division {
    border-bottom: 1px solid white;
  }

  .anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    .contenedor-anuncio {
        padding: 2rem;
    }
    h3, p {
        margin: 0;
    }
    .precio {
        color: $verde;
        font-weight: $bold;
    }
}
.contenedor {
  h1 {
    color: rgb(36, 222, 247);
  }
}
.parrafo {
  color: white;
  font-size: 2.4rem;
}
.precio {
  color: white;
  font-size: 2.4rem;
}