@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncios {
  // background-color: #8b8686;
  padding: 40px;
  // width: 8rem;
  // height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1px solid #ddd;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  //codigo de gpt 4
  background: linear-gradient(45deg, #d5d6d3, #666);
  color: #ffffff;
  padding: 20px 0;
  p {
    margin-left: 10px;
    color: white;
  }
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    li {
        flex: 1;
        display: flex;
        img {
            flex: 0 0 5rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
    
}


  
  h3 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
  }
  
  .more-info {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .more-info:hover {
    background-color: #3e8e41;
  }

  ul:not([type="value"]) {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
   
    border-bottom: 1px solid #ddd;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  p {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  span {
    color: #666;
  }

  .container {
    margin: 0;
    padding: 500px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #15163f;
  }
.btn {
  display: inline-block;
  padding: 50px;
  margin: 60px;
  height: 60px;
}
.animated-button {
  // background-color: #4CAF50;
  color: #ffffff;
  // padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.animated-button:hover {
  background-color: #3e8e41;
  transition: background-color 0.5s ease;
}

.animated-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}