@use 'base/variables';
@use 'base/mixins';
@use 'sass:color';
.no-webp .inicio {
    background-image: url(../img/fondoengranajes.jpg);
    background-repeat: no-repeat;
    background-position: left;
    filter: brightness(50%);
    // max-width: 100%;
}
.webp .inicio {
    background-image: url(../img/engranajes2.webp);
    // background-repeat: no-repeat;
     
    //     background: linear-gradient(
    //         270deg,
    //         rgba($negro, 60%), // su funcion es para darle un color mas oscuro
    //         rgba(color.adjust($negro, $lightness: -20%), 90%) // funcion es para darle un color mas oscuro, darken ya no funciona porque se usa la libreria sass
    //     );
        inset: 0;// 
    
    background-position: left;

}

.header {
    background-color:$grisOscuro;
    // filter: brightness(50%);
    // padding: 1rem 0 3rem 0;

    &.inicio {
        background-position: center center;
        background-size: cover;
        @include tablet {
            min-height: 70rem;
        }
        .contenido-header {
            @include tablet {
                min-height: 70rem;
            }
        
        }
    }
}
.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h1 {
        text-align: left;
        color: rgb(255, 255, 255);
        font-weight: $bold;
        font-size: 4.5rem;
        line-height: 2;
        max-width: 70rem;
        max-width: 40rem;
    }
    h1 {
        @include tablet {
       
            // text-align: center;
        }
    }
}



