@include tablet {
    .iconos-nosotros {
        @include grid(2 ,2rem);
    }
}
.icono {
    text-align: center;
    img {
        height: 10rem;
    }
    h4 {
        text-transform: uppercase;
    }
}