.derecha {
     display: flex;
     flex-direction: column;
     align-items: center;
     @include tablet {
        align-items: flex-end;
     }
}

.dark-mode-boton {
     width: 4rem;   
     margin-top: 3rem;
     margin-bottom: 2rem;
    filter: invert(100%);
     &:hover {
        cursor: pointer;
     }
     @include tablet {
        margin-top: 0;
     }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}
// en_header.scss se define una anchura para el logo, asi como un maximo de anchura 
.barra {
    .logo-header {
        max-width: 100%;
        width: 28rem;
        height: auto;
    }
}
.principal {
    a {
        font-size: 3rem;
    }
} 

.navegacion {
    // display: none;
    transition: .3s ease-in-out, opacity .3s ease-in-out linear, height .5s; // permite animar la transicion de la navegacion
    // visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    @include tablet {
        display: flex;
        align-items: center;
        visibility: visible;
        opacity: 1;
        height: auto;
        visibility: visible;
    }

    a {
        color: rgb(249, 94, 10);
        text-decoration:none;
        font-size: 2.2rem;
        font-weight: 700;
        display: block;
        text-align: center;
        @include tablet {
            margin-right: 1.8rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

/* menu de amburguesa */
.mobile-menu {
     @include tablet {
        display: none; 
     }
     img {
        width: 5rem;
     }
}

.mostrar {
    // display: flex;
    opacity: 1;
    height: auto;
    // flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
}


