@use 'base/variables';
@use 'base/mixins';
// @use 'anuncios';

.seccion-blog{
    padding: 3rem;
}
.contenedor-anuncios {
    // padding: 2rem;
    span {
        font-size: 3rem;
    }
}
@media (min-width: 768px) {
    .contenedor-interes {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.interes {
    li {
        font-size: 600;
        font-family: var($fuente_principal);

    }
}