.alerta {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 1rem;
    &.exito {
        background-color: #ea5c15;
        
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
  
    border-spacing: 0;
    thead {
        background-color: #117e0b;
        th {
            color: white;
            padding: 2rem;
            font-size: 1.9rem;
           
        }
    }
    .imagen-tabla {
        width: 200px;

    }

   
}
.imagen-small {
    width: 30rem;
}


.alerta {
    &.error {
        background-color: #f04e4e;
        color: white;
    }
}
.boton-amarillo{
    margin-top: 1rem;
}

.boton-rojo {
    margin-top: 1rem;
    padding: 1.5rem 3rem;
    width: 100%;


}
tr {
    td {
        margin-left: 2rem;
        padding-left: 4rem;
        text-align: center;
    }
}